@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  color: #1E0E2E;
  background-color: #ffffff;
}

@keyframes drawLine {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
